h1 {
	color: red;
}

.first-p {
	color: white;
	background-color: blue;
	width: 100px;
	margin-bottom: 100px;
}

p span {
	color: red;
}

h2 {
	background-color: green;
	color: white;
}

.whats {
	padding: 50px;
}

.do_forms {
	padding-left: 100px;
}

.list li {
	border: 1px solid black;
}